body,html {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #f0f2f5;
}

#main {
  padding: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;

  #navbar {
    position: fixed;
    box-sizing: border-box;
    top: 0; left: 0;
    width: 100%;
    height: 50px;
    background-color: #ee496e;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
    padding-top: 5px;

    #search-input {
      margin: auto;
      height: 40px;
      width: 90%;
      background-color: rgba(0,0,0,0.08);
      border-radius: 4px;
      padding-left: 10px;

      display: flex;
      align-items: center;
      justify-content: flex-start;;

      ::-webkit-input-placeholder {
        color: white !important;
      }

      input {
        color: white !important;
        display: inline-block;
        font: normal 16px Roboto,sans-serif;
        border: none;
        outline: none;
        padding-left: 20px;
        background: transparent;
        font-size: 20px;
        width: 300px;
      }
    }
  }

  #notebar {
    position: fixed;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 1) 5px 2px 10px;
    padding-left: 20px;
    box-sizing: border-box;

    input[type="text"] {
      font: lighter 20px Roboto,sans-serif;
      background-color: transparent;
      border: none;
      outline: none;
      width: 65%;
    }

    input[type="button"] {
      text-align: center;
      width: 35%;
      height: 40px;
      border-radius: 0;
      background-color: #ee496e;
      border: none;
      color: white;
      font: normal 16px Roboto,sans-serif;
      font-size: 35px;
      font-weight: bold;
      outline: none;

      &:active {
        background-color: rgba(#ee496e,0.5);
      }
    }
  }

  #list {
    padding: 0 5px;
  }

  #checked-list {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 25px;
    padding: 0 5px;
    padding-top: 25px;

    .checked {
      background-color: rgba(0,0,0,.04);
      
      input[type="text"] {
        background-color: rgba(0,0,0,.01);
        color: rgba(0,0,0,0.56) !important;
        text-decoration: line-through;
      }
    }
  }
}

.item {
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14),
               0 3px 1px -2px rgba(0,0,0,0.2),
               0 1px 5px 0 rgba(0,0,0,0.12);

  margin-bottom: 10px;
  padding-right: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  input[type="text"] {
    margin-left: 15px;
    font-family: 'Roboto Condensed','Droid Sans',arial,sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
  }

  input[type="checkbox"] {
    margin: 0;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    outline: none;
  }

  input[type="button"] {
    display: inline-block;
    padding-top: 2px;
    border-radius: 50%;
    border: 2px solid #ee496e;
    background-color: transparent;
    color: #ee496e;
    font: normal 16px Roboto,sans-serif;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    margin-left: auto;
  }
}
